<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        <!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的
            例如namespace="com.szh.mapper.personMapper"就是com.szh.mapper(包名)+personMapper(personMapper.xml文件去除后缀) -->
<mapper namespace="com.fh.dao.AddressDao">

<select id="queryAddressList" resultType="com.fh.entity.Address">
        select * from shop_address
    </select>

    <select id="queryAddressListByVipName" resultType="com.fh.entity.Address">
        select * from shop_address where vipName=#{vipName}
    </select>

    <insert id="addAddress" parameterType="com.fh.entity.Address">
        insert into shop_address(vipName,name,detailAdd,areaIds,phoneNumber,createDate,ischeck) values
                              (#{vipName},#{name},#{detailAdd},#{areaIds},#{phoneNumber},#{createDate},#{ischeck})
    </insert>

    <update id="updateAddressById">
        update shop_address set ischeck=0 where id=#{id}
    </update>

</mapper>