<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        <!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的
            例如namespace="com.szh.mapper.personMapper"就是com.szh.mapper(包名)+personMapper(personMapper.xml文件去除后缀) -->
<mapper namespace="com.fh.dao.ShopDao">

<select id="queryShopBySales" resultType="com.fh.entity.Shop">
        select * from shop_shop where sales=1
    </select>

    <select id="queryShopList" resultType="com.fh.entity.Shop">
        select * from shop_shop
    </select>

    <select id="queryShopById" parameterType="java.lang.Integer" resultType="com.fh.entity.Shop">
        select * from shop_shop where shopId=#{shopId}
    </select>

</mapper>